{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<div class="card">
    <div class="card-body">
        <h4>Editar Postagem:</h4>
        <form action="/admin/postagens/edit" method="POST">
            <input type="hidden" value="{{postagens._id}}" name="id">
            <label for="titulo">Titulo: </label>
            <input type="text" name="titulo" value="{{postagens.titulo}}" class="form-control" required>
            <label for="slug" >Slug: </label>
            <input type="text" name="slug" value="{{postagens.slug}}" id="slug" class="form-control" required>
            <label for="descricao">Descrição: </label>
            <input type="text" name="descricao" value="{{postagens.descricao}}" class="form-control" required>
            <label for="arquivo" class="img card" tabindex="0">
            <span class="arquivo__spam"></span>
            <input type="file" accept="image/*" name="arquivo" id="arquivo">
            </label>
            <br>
            <label for="conteudo">Conteúdo: </label>
            <textarea name="conteudo" class="form-control" required>{{postagens.conteudo}}</textarea>
            <label for="categoria">Categoria: </label>
            <select name="categoria" class="custom-select mt-2" required>
                {{#each categorias}}
                    <option value="{{_id}}">{{nome}}</option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select><br>
            <button type="submit" class="btn btn-success mt-3">Salvar</button>
        </form>
    </div>
</div>
