<div class="bg-info p-4 rounded-lg rounded" style="--bs-bg-opacity: .100;">
  <h1 class="display-4">Bem-vindo ao Blog do Cadu</h1>
  <p class="lead">Blog desenvolvido no Curso de NodeJS - utilizando Node.js + Express + MongoDB.</p>
  <hr class="my-4">
  <p>Aqui você vai poder ler sobre as novidades do mundo da tecnologia.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>

<hr>

<h2>Postagens recentes: </h2>
{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <hr>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data de Publicação: {{data}}</small>
        <a href="/postagem/{{slug}}"><button class="btn btn-success float-end">Leia mais</button></a>
    </div>
</div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}